.tech-group {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transform: translateY(30px);
  transition-delay: 5s;
  transition: all 1s ease;
  opacity: 0;
  font-family: "Roboto", monospace;
}

a {
  text-decoration: none;
  color: #48618d;
}
a:hover {
  color: #000000;
}
.tech-item-container {
  display: flex;
  align-items: center;
  margin: 10px;
}

.techs-img {
  width: 25px;
  margin: 0 5px 4px 0;
}
