.contact-container {
  display: flex;
  justify-content: center;
  transition: all ease;
  transition-duration: 2s;
  margin: 0;
}

.x-button {
  float: right;
  cursor: pointer;
}
.x-button:hover {
  transform: scale(1.07);
  opacity: 0.7;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contact-form div {
  font-size: 14px;
  z-index: 5;
}
.contact-column {
  display: flex;
  flex-direction: column;
}
.contact-message {
  display: flex;
  flex-direction: column;
}

.contact-message textarea {
  /* width: 163%; */
  min-height: 80px;
  margin-bottom: 15px;
}
input,
textarea {
  background: #5879b357;
  border-style: none;
  border-radius: 3px;
}

input.submit-btn,
.close-btn,
.contact-btn {
  width: 120px;
  height: 35px;
  margin: 5px 0 15px;
  align-self: center;
  border-style: none;
  color: white;
  font-size: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #0e538c;
  z-index: 2;
}
.close-btn,
.contact-btn {
  margin: 25px 0 0 0;
  border-radius: 3px;
}
.contact-btn:hover {
  cursor: pointer;
  transform: scale(1.04);
}
.close-btn:hover {
  cursor: pointer;
  transform: scale(1.04);
}

input.submit-btn:hover {
  cursor: pointer;
  background-color: #0c497a;
  transform: scale(1.04);
}
.scale-up-ver-top {
  -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.alert {
  position: absolute;
  top: 38%;
  transition: 0.5s;
  transition-delay: 0.3s;
  text-align: center;
  z-index: 5;
  background-color: #ffbe55;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
.form-container {
  width: 100%;
}
.form-cloud-container {
  display: flex;
}

@-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

.form-coder-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: -18px;
}
.name-email-container {
  width: 79%;
}
.email-input {
  padding-top: 28px;
}
@media only screen and (max-width: 920px) {
  .contact-card {
    width: 95vw;
  }
}
@media only screen and (max-width: 680px) {
  .contact-card {
    width: 93vw;
  }
  .contact-human {
    display: none;
  }
  .name-email-container {
    margin-bottom: 45px;
    width: 100%;
  }
}
