.contact-container {
  display: flex;
  justify-content: center;
  transition: all ease;
  transition-duration: 2s;
}
.x-button {
  float: right;
  cursor: pointer;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contact-form div {
  margin: 10px 0;
  font-size: 14px;
}
.contact-column {
  display: flex;
  flex-direction: column;
}

.contact-message textarea {
  width: 100%;
  min-height: 80px;
}
input,
textarea {
  background: #5879b357;
  border-style: none;
  border-radius: 3px;
}
input.submit-btn {
  width: 120px;
  height: 35px;
  margin: 5px 0 15px;
  align-self: center;
  border-style: none;
  color: white;
  font-family: "Roboto mono", "Roboto", sans-serif;
  font-size: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to left, #5879b3dc, #020112da);
}

input.submit-btn:hover {
  cursor: pointer;
  background: linear-gradient(to left, #5879b3, #020112);
}
.scale-up-ver-top {
  -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.alert {
  position: absolute;
  top: 45%;
  transition: 1s;
  transition-delay: 0.5s;
  text-align: center;
}

@-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
