.summary-container {
  display: flex;
  justify-content: center;
}

.p-svg-container {
  display: flex;
  justify-content: space-between;
}

.p-svg-container p {
  width: 70%;
}
.contact-btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}
