.rp-horizontal-line {
  display: flex;
  width: 80%;
}

.hrTable {
  width: 100%;
}

.hrTable td {
  width: 50%;
  padding: 2px 10px;
}
.two-lines-container {
  display: flex;
  width: 100%;
}
hr {
  display: flex;
  width: 30%;
}
