@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Roboto mono", "Roboto", sans-serif;
  background-color: #f3f2ef;
}

.card {
  width: 54rem;
  box-shadow: 0 5px 10px #5879b313, 0 0 30px #02011213;
  padding: 2rem 5rem 1rem 5rem;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
}
p {
  font-size: 15px;
}

h1 {
  font-family: "Roboto", sans-serif;
}

h2 {
  opacity: 0.9;
  letter-spacing: 0.1rem;
  font-family: "Roboto", sans-serif;
}
h3 {
  font-size: 20px;
  letter-spacing: -0.04rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
  color: white;
  background: linear-gradient(to left, #5879b3, #020112ec);

  padding: 5px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
  width: 100%;
  border-radius: 5px;
}
.tech-item-container span {
  font-size: 13px;
}

.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  opacity: 0;
  animation-delay: 0.2s;
}
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
